<div th:fragment="deleteModal">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="text-center mx-auto" style="font-weight: bold; max-width: 300px" th:method="delete"
                          action="" id="deleteForm">
                        <fieldset disabled>
                            <div class="form-group">
                                <label for="deleteId">ID</label>
                                <input type="text" class="form-control" id="deleteId" placeholder="ID">
                            </div>
                            <div class="form-group">
                                <label for="deleteName">First name</label>
                                <input type="text" class="form-control" id="deleteName" placeholder="First name">
                            </div>

                            <div class="form-group">
                                <label for="deleteLastName">Last name</label>
                                <input type="text" class="form-control" id="deleteLastName" placeholder="Last name">
                            </div>

                            <div class="form-group">
                                <label for="deleteAge">Age</label>
                                <input type="text" class="form-control" id="deleteAge" placeholder="Age">
                            </div>

                            <div class="form-group">
                                <label for="deleteRole">Role</label>
                                <select multiple class="custom-select" size="2" id="deleteRole"></select>
                            </div>


                        </fieldset>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger" id="deleteBtn">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
